* {
    margin: 0;
    padding: 0;    
}
header {    
    text-align: center;
    background-color: aquamarine;
    font-size: 31px;
    color: #c5aeb2;
    padding: 17px;
}
ul {
    display: inline-block;
}
li {
    display: inline;
    letter-spacing: 3px;
    background-color: bisque;
}
nav {
    float: left;
    width: 25%;
    height: 225px;
    background-color: blueviolet;
    padding: 20px;
}
a {
    text-decoration: none;
    letter-spacing: 10px;
    
}
.navlinks {
    list-style-type: none;
    padding: 7px;    
    width: 700px;
    height: auto;
    display: inline-block;
    
    
}
article {
    float: left;
    padding: 25px;
    width: 100%;
    background-color: #c93d54;
    height: 75px;
}
.tst001 {
    float: right;
    padding: 25px;
    background-color: blue;
    width: 25%;
    height: 189px;
}
.tst002 {
    float: left;
    padding: 25px;
}
.tst003 {
    float: left;
    padding: 25px;
    background-color: #33a54f;
}
section:after {
    content: "";
    display: table;
    clear: both;
}
footer {
    background-color: yellow;
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



