/* ESTILOS GERAIS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;       
}
.lz-contato button {
    color: white;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(0, 0, 255, 0.459);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
h2.titulo {
    color: white;
    font-size: 39px;
    text-align: center;
}
h2.titulo span {
    color: blue;
}
.lz-contato button:hover {
    box-shadow: 0px 0px 9px rgb(0, 0, 199);
    transform: scale(1.07);
}
img {
    border-radius: 50px;
}
body {
    background-color: rgb(127, 120, 226);
    height: 100vh;
}
.menu {
    max-width: 1280px;
    margin: 0 auto;
}
.flex {
    display: flex;
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header > .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    color: rgba(22, 15, 80, 0.904);
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    transition: .3s;
}
header a:hover {
    color: white;
    transform: scale(1.10);
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO DO TOP */
section.principal {
    padding: 40px 4%;
    margin: 0px 15px;
    display: inline-block;
}
.logo {
    display: inline-block;
}
section.principal .flex {
    align-items: center;
    justify-content: center;
}
.principal h1 {
    color: white;
    font-size: 45px;
    justify-content: space-between;
}
.principal .texto-principal h1 span {
    color: blue;
}
.principal .texto-principal p {
    color: white;
    margin: 40px 0px;
}
.principal .img-principal img {
    position: relative;
    animation: flutuar 3s ease-in-out infinite;
}
  
@keyframes flutuar {
    0%{
        top:0;
    }
    100%{
        top:50px;
    }
}
@mediav {
    max-width: 600px;
}

/* estilo das qualificação */
section.qualidades {
    padding: 40px 4%;
} 
section.qualidades .flex {
    gap: 59px;
}
.qualidades .especi-box {
    color: white;
    padding: 40px;    
    border-radius: 21px;
    margin-top: 45px;
    transition: 1.01s;

}
.qualidades .especi-box i {
    font-size: 49px;
    color: blue;
}
.qualidades .especi-box h3 {
    font-size: 29px;
    margin: 15px 0px;
}
.qualidades .especi-box:hover {
    transform: scale(.3s);
    box-shadow: 0 0 17px rgba(255, 255, 255, 0.425);
}