* {
    box-sizing: border-box;
    background-color: antiquewhite;    
}
.cabeca {
    padding: 0 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(85, 85, 172, 0.521);
    box-shadow: 0 40px;
}
h2 {
    text-align: center;
    color: rgb(78, 78, 165);
}
.paraf {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;    
    float: right;
}
nav {
    display: inline-block;
    
    float: right;
    
}
nav a {
    text-decoration: none;
    padding: 30px;
}

nav a:hover {
    background-color: blueviolet;
    padding: 10px;
}